body {
    height: 100vh;
    background-image: url(../multimedia/fondo.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100% 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #232323;
}

a:hover{
    color: #FF5C90;
}


/* Header */

header{
    position: relative;
    padding: 0 2rem;
}

.navGeneral {
    background-color: #fffefe;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    text-align: left;
}

.navGeneral .navLogo img {
    width: 20%;
    height: 20%;
}

.navGeneral .links {
    display: flex;
    gap: 2rem;
}

.action_btn {
    background-color: #FF5C90;
    color: #232323;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: scale 0.2 ease;
}

h2 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 55px;
    margin-right: 40%;
    margin-left: 40%;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.formulario label {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem;
}

.formulario input {
    width: 100%;
    height: 3rem;
    padding: 17px 25px;
    border: 2px #f0faf1;
    border-radius: 25px;
    border-style:groove;
    background-color: #f86191bd;
    font-size: 1.5rem;
    outline: none;
}

.btn {
    font-size: 16px;
    color: #ffffff;
    border: 0 ;
    border-radius: 25px;
    background-color:#FF5C90;
    box-shadow: 0 0 20px rgba(25 , 25 ,0 , 0.4);
    cursor: pointer;
}




.productosParrafo {
    background-color: #232323;
}


/* Responsive */

@media(max-width:992px) {
    .navGeneral .links,
    .navGeneral .action_btn {
        display: none;
    }
}